@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 245, 250);
   
}
.navigation
{
    display: flex;
    justify-content: space-around;
    height: 102px;
    /* border:1px solid; */
    align-items: center;
    text-align: center;
}
.navigation1
{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.book-now4
{
    border: 1px solid #F66F4D;

    width: 150px;
    padding: 10px;
    border-radius: 50px;
    font-family: poppins;
    font-size: 16px;
    color:#F66F4D;
    
}
.logo1
{
    display: flex;
    justify-content: space-around;
}
.logo1 b
{
    align-items: center;
    text-align: center;
    padding: 10px;
}
.menu
{
    font-size: 20px;
    color:#F66F4D;
    display: none;
}
@media(max-width:991px)
{
    .navigation1
    {
        display: none;
    }
    .button9
    {
        display: none;
    }
    .menu{
        display: block;
    }

}
.container2
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.left
{
    padding: 70px;
    /* border: 1px solid; */
}
.left img
{
    border-radius: 20px;
    margin-left: -75px;
   
.right
{
    border: 1px solid blue;
}
}
.container2 h1{
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;


}
.container2 h3{
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    color: grey;
}
.container2 img
{
    margin-left: -130px;
}
@media(max-width:991px)
{
    .container2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    /* .left{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .left img
    {
        margin-left: 60px;
    }; */
}

@media(max-width:524px)
{
   .container2
   {
    align-items: center;
    align-items: center;
   }
    .left
    {
        width: 524px;
    }
    .left img
    {
        /* width: 8; */
        margin-left: -60px;
        border: 1px solid;
        width: 450px;
    }
    .right img
    {
        width: 524px;
        margin-top: 20px;

    }
   
   
}
@media(max-width:412px)
{
    .left img
    {
        width: 300px;
        margin-left: -5px;
    }
    .left h1
    {
        font-size: 36px;
    }
    .container2
    {
        align-items: center;
        text-align: center;

    }
    .left
    {
        width: 412px;
    }
    .right img {
        width: 400px;
        align-items: center
    }
    .right
    {
        align-items: center;
        /* margin-left: 50px; */
    }
}
.text4
{
    display: flex;
    justify-content: space-around;
}
.categories
{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;

}
.categories h1{
    font-family: Inter;
    font-size: 56px;
}
.categories h1{
    font-family: Inter;
    font-size: 56px;
}
.categories h3{
    font-family: Inter;
    font-size: 16px;
    color:grey;
    font-weight: 400;
    
}
@media(max-width:524px)
{
    .categories
    {
        display: flex;
        flex-direction: column;
    }
    #arrow
    {
        height: 50px;
        width: 50px;
    }
}
.images
{
    display: flex;
    /* flex-wrap: wrap; */
    
     justify-content: space-evenly;
     margin-top: 20px;
     
}
@media(max-width:991px)
{
    .images{
        display: flex;
        flex-wrap: wrap;
    }
}

.container3
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 30px; 
}
.cards
{
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
}
.left {
    margin-left: 70px;
}
.left h4{
    font-size: 20px;
    font-family: inter;
    font-weight: 600;
    color: #F66F4D;
    margin-left: -70px;
    
}
.left h1{
    font-size:46px;
    font-family: inter;
    font-weight: 600;
    margin-left: -70px;
    /* color: #F66F4D; */
}
.left h3{
    font-size:16px;
    font-family: inter;
    font-weight: 400;
    color: gray;
    margin-left: -70px;
    line-height: 0.8cm;

}
@media(max-width:991px)
{
    .container3
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:524px)

{
.right 
{
    padding: 10px;
    /* border: 1px solid; */
  
}
.right  img{
width: 390px;

} 
.cards{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* border: 1px solid; */

}
.cards img{
    height: 200px;
    width:200px;
    margin-top: 20px;
    /* padding: 10px; */
}
#fii
{
    /* margin-left: 30px; */
}
}
@media(max-width:768px)
{
    #fii
{
    /* margin-left: 10px; */
}

}
@media(max-width:412px)
{
    #fii
    {
    /* margin-left: 20px;  */
    }
}
#im22
{
    height: 580px;
    width:500px;
    margin-top: -60px;
}

.threeimg
{
    display: flex;
    /* flex-wrap: wrap; */
    
     justify-content: space-evenly;
     margin-top: 20px;
     
}
@media(max-width:991px)
{
    .threeimg{
        display: flex;
        flex-wrap: wrap;
    }
}

.container4
{
    align-items: center;
    text-align: center;
}

.para h1{
    font-size: 48px;
    font-family: inter;
    font-weight: 700;

}
.para h3{
    font-size: 16px;
    font-family: inter;
    font-weight: 400;

}
.buts
{
   padding: 20px;
   margin-left: 10px;
}.buts button
{
    width:100px;
    font-family: poppins;
    font-size:16px;
    padding: 5px;
    border-radius: 50px;
    margin-left: 10px;
}
#but3
{
    background-color: black;
    color: white;
}
.container5
{
    display: flex;
    justify-content: space-around;
}
.first
{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    
}
.first img{
    margin-top: 10px;
}
.multiimg2
{
   margin-top: 10px; 
   display: flex;
   justify-content: space-evenly;
   /* margin-left: 50px; */
   
}

.container6
{
    align-items: center;
    text-align: center;
    /* border: 1px solid; */
    border-radius: 10px;
    height: 250px;
    background-color: rgb(245, 243, 128);
    
}
#hom1
{
    border-bottom: 2px solid;
    color:red
}
.footer img
{
    width: 1200px;
}

.para h1{
    font-size: 48px;
    font-family: inter;
    font-weight: 700;
    padding: 20px;
    /* margin-top: 30px; */

}
.para h3{
    font-size: 16px;
    font-family: inter;
    font-weight: 400;

}

.menu1 input
{
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    

}
